<!doctype html>

<html lang="en">
<head>
<meta charset="utf-8">
<title>The HTML5 Herald</title>
</head>

<body>
  <ul>
    <li routerLinkActive="active"><a href="#home" [routerLink]="['/home']" >Home</a></li>
        <li style="float:right" routerLinkActive="active"><a class="active" href="#login" [routerLink]="['/login']">login</a></li>
    <li style="float:right" routerLinkActive="active"><a class="active" href="#signup" [routerLink]="['/signup']">signup</a></li>
  </ul>
  <router-outlet></router-outlet>
</body>
</html>